@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin centerHorizontalVertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
  0 - 600px: phone
  600 - 900px: tablet portrait
  900 - 1200px: tablet landscape
  1200 - 1800px: is where our normal styels apply
  1800px+: big desktop 
*/

/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: base + typography > general layout + grid > page layout > components 
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // 1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // 1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
