.html-icon {
  color: #e34c26;
}

.css-icon {
  color: #2965f1;
}

.sass-icon {
  color: #cd6799;
}

.js-icon {
  color: #f0db4f;
}

.react-icon {
  color: #61dbfb;
}

.git-icon {
  color: #f1502f;
}

.about-image {
  box-shadow: 0 1.2rem 4rem rgba($color-black, 0.4);
  border-radius: 0.5rem;
}
